.result-wrapper {
    position: relative;
    border: 3px dashed #ddd;
    margin: 0 auto 40px auto;
    box-sizing: content-box;
}

.result-container {
    position: absolute;
    top: 0;
    left: 0;
}

.generator .btn-primary {
    width: 100px;
}

.generator .btn-primary.btn-primary-long {
    width: 130px;
}

.generator .twitter-logo {
    width: 20px;
}

.generator .btn-twitter * {
    vertical-align: middle;
}

.generator .btn-twitter {
    display: block;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.generator .btn-rating {
    display: block;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.generator .rating .glyphicon {
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.generator .rating-text {
    margin-bottom: 3px;
}

.twitter-transition-enter {
    height: 0;
    padding: 0 12px;
    margin-top: 0 !important;
    border-width: 0;
}

.twitter-transition-enter.twitter-transition-enter-active {
    height: 35px;
    padding: 6px 12px;
    margin-top: 20px !important;
    border-width: 1px;
    transition: all 600ms ease-in-out;
}

.rating-transition-enter {
    height: 0;
    margin-top: 0 !important;
}

.rating-transition-enter.rating-transition-enter-active {
    height: 34px;
    margin-top: 20px !important;
    transition: all 600ms ease-in-out;
}