.twitter .share-image-container, .twitter .share-text-container, .twitter .button-container, .twitter .share-noise-container, .twitter .share-noise-option-container {
    margin-bottom: 20px;
}

.twitter .share-image-container {
    text-align: center;
}

.twitter .share-image {
    border: 3px dashed #ddd;
}

.twitter .share-text {
    height: 134px;
    overflow-x: hidden;
}

.twitter .share-noise-option-container input[type="checkbox"] {
    margin: 0 2px;
    position: relative;
    top: 1px;
}


.twitter .glyphicon {
    margin-right: 5px;
}

.twitter .button-submit {
    min-width: 100px;
}