.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.navbar-brand {
    font-size: 24px;
}

.twitter-share-button {
    box-sizing: content-box;
    padding: 15px 15px 0 15px;
}

@media not screen and (min-width: 1200px) {
    .container-fluid {
        width: 800px;
    }
}

@media not screen and (min-width: 768px) {
    .container-fluid {
        width: 90%;
    }
}


.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
.language-dropdown{
    box-sizing: content-box;
    padding: 15px 15px 0 15px;
}

.language-dropdown .dropdown__trigger {
    line-height: 20px;
}
.language-dropdown .dropdown__trigger:after {
    content: '\25BE';
    margin: 0 0 0 10px;
}

.language-dropdown {
    vertical-align: middle;
}

.language-dropdown .dropdown__content {
    z-index: 1;
    margin-top: 5px;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    background: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    width: 100px;
}

.language-dropdown__quick-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.language-dropdown__segment {
    padding: 10px 15px;
    border-bottom: #e1e1e1 1px solid;
}
.language-dropdown__link {
    margin: 5px 0;
}