.chart-visit {
    width: 640px;
    height: 480px;
    margin-bottom: 40px;
}

.chart-access {
    width: 600px;
    height: 400px;
}

.chart-amount {
    width: 640px;
    height: 480px;
}

.chart-labels {
    width: 640px;
    height: 480px;
}

@media not screen and (min-width: 768px) {
    .chart-visit {
        width: 100%;
        height: 300px;
    }

    .chart-access {
        width: 100%;
        height: 200px;
    }

    .chart-amount {
        width: 100%;
        height: 300px;
    }

    .chart-labels {
        width: 100%;
        height: 300px;
    }
}