body {
    margin: 0;
    padding: 0;
    font-family: ScalaSans, sans-serif;
}

input[type="text"], textarea {
    font-size: 16px !important;
    font-family: sans-serif;
}

input[type="password"], textarea {
    font-size: 16px !important;
    font-family: sans-serif;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}