body {
    margin: 0;
    padding: 0;
    font-family: ScalaSans, "Roboto Condensed", sans-serif;
}

input[type="text"], textarea {
    font-size: 16px !important;
    font-family: sans-serif;
}

input[type="password"], textarea {
    font-size: 16px !important;
    font-family: sans-serif;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
}

.flex.flex-space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}